include LICENSE README.rst CREDITS
recursive-include notebooks *.ipynb
include notebooks/MassTRIX_output.tsv
include notebooks/sample_data.xlsx
include notebooks/blacklist.txt
include metabolinks/data/sample_data.xlsx
prune metabolinks/examples/.ipynb_checkpoints
